<!--메인 화면-->
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% block scc %}     <!-- 페이지별 css -->
{{block.super}}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock scc %}

<div class="container-fluid" style='margin-top:20px'>  
    <div class="home-container">
        <label><strong>Rank(1~20)<hr class="style2"></strong></label>
        <p>Tag: {{reccentTag}}</p>
    </div>      
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for feed in feeds %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <a href="{% url 'detail' feed.id %}">
                            <img class="card-img-top" src="{{ feed.image.url }}" alt=" Card image cap">
                        </a>
                        <div class="card-body">
                            <h4>{{ feed.title }}</h4>
                            <p class="card-text">{{ feed.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>          
    </div>
    <label><strong>Recent Design<hr class="style2"></strong></label>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                    {% for feed in feeds %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ feed.image.url }}" alt=" Card image cap">
                            <div class="card-body">
                                <h4>{{ feed.title }}</h4>
                                <p class="card-text">{{ feed.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>          
    </div>
</div>
{% endblock %}