{% extends 'base.html' %}

{%block content %}

<div id="container">
    <div class="pf">
        <div class="pf-image">
            <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="프로필">
            <div class="pf-name">
                <p>name</p>
            </div>
        </div>
    </div>
    <div class="my-page">
        <div class="my-page-title">
            <strong>My Page</strong>
        </div>
        <div class="row" style="padding-left: 10px">
            <div class="my-page-etc">
                <strong>팔로워</strong>
            </div>
            <div class="my-page-etc">
                <strong>팔로잉 수</strong>
            </div>
        </div>
        <div class="row" style="padding-left: 5px">
            <div class="my-page-sub"></div>
            <div class="my-page-sub"></div>
            <div class="my-page-sub"></div>
            <div class="my-page-sub"></div>
            <div class="my-page-sub"></div>
        </div>
    </div>
</div>
<label><strong>Recent Design<hr class="style2"></strong></label>
<div id="container">
    <div id="container">
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
    </div>
</div>
<label><strong>Tag1<hr class="style2"></strong></label>
<div id="container" style="flex-direction: column">
    <div id="container">
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <a href="#"  style="position:relative; bottom: -80px;">more...</a>
    </div>
</div>
<label><strong>Tag2<hr class="style2"></strong></label>
<div id="container" style="flex-direction: column">
    <div id="container">
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <a href="#"  style="position:relative; bottom: -80px;">more...</a>
    </div>
</div>
<label><strong>Tag3<hr class="style2"></strong></label>
<div id="container" style="flex-direction: column">
    <div id="container">
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <div class="sim-img"></div>
        <a href="#"  style="position:relative; bottom: -80px;">more...</a>
    </div>
</div>
{% endblock %}